#earth{
    position: fixed;
    top: 34vh;
    left: 32vw;
}
.earthBox{
    animation: rotate 2s infinite linear;
}  
@keyframes rotate{
    from {-webkit-transform: rotate(0deg)}
    to {-webkit-transform: rotate(359deg);}
} 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#merkurius{
    position: fixed;
    top: 57vh;
    left: 37vw;
}
#venus{
    position: fixed;
    top: 46vh;
    left: 32vw;
}
#mars{
    position: fixed;
    top: 26vh;
    left: 39vw;
}
#jupiter{
    position: fixed;
    top: 20vh;
    left: 47vw;
}
#saturnus{
    position: fixed;
    top: 21vh;
    left: 58vw;
}
#uranus{
    position: fixed;
    top: 29vh;
    left: 69vw;
}
#neptunus{
    position: fixed;
    top: 42vh;
    left: 73vw;
}
#pluto{
    position: fixed;
    top: 57vh;
    left: 73vw;
}
@media screen 
and (max-width: 768px){
    #sun{
        top: 11vh;
        left: 40vw;
        position: fixed;
    }
    #merkurius{
        position: absolute;
        top: 26.5vh;
        left: 47vw;
    }
    #venus{
        position: fixed;
        top: 31vh;
        left: 46.5vw;
    }
    #earth{
        position: fixed;
        top: 37vh;
        left: 47vw;
    }
    #mars{
        position: fixed;
        top: 42vh;
        left: 47.5vw;
    }
    #jupiter{
        position: fixed;
        top: 46vh;
        left: 45.2vw;
    }
    #saturnus{
        position: fixed;
        top: 53vh;
        left: 43vw;
    }
    #uranus{
        position: fixed;
        top: 59vh;
        left: 46.7vw;
    }
    #neptunus{
        position: fixed;
        top: 65vh;
        left: 46.5vw;
    }
    #pluto{
        position: fixed;
        top: 72vh;
        left: 48vw;
    }

}